.local {
    right: 1rem;
    width: 40vw;
    height: 60vh;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    margin: auto;
  }
  
  .remote {
  
    top: 0;
    left: 0;
    width: 640px;
    height: 480px;
    margin: auto;
  }
  .live-div{
      margin-top: 100px;
  }