<div class="about-section">
  <div class="inner-container">
    <h1>About Us</h1>
    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.

</p>
    
    <div class="skills">

      <span> Web Design</span>
      <span> Photoshop & Illustration</span>
      <span> Coding</span>
      
      
    </div>
    
    
   
</div>
  </div>